<H1> Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**

+ Popular Languages that Data Scientists use.
+ Commonly used Libraries.
+ Basic arithmetic expressions.
+ Development Environment open source tools.

Some of the popular languages that Data Scientists use are:

1. Python
2. R/Rstudio
3. Structured Query Language (SQL)

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. PyTorch

|Data Science Tools|
|-------|
|Jupyter/Jupyter Lab|
|Apache Zeppelin|
|R Studio|

<h3> Below are a few examples of evaluation arithmetic expressions in Python</h3>

This is a simple arithmetic expression to mutiply then add integers.

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours diving by 60.

In [14]:
200/60

3.3333333333333335

<h2>Author</h2>
Russell Maestas